
#Se ignora el directorio target 
target/ 

#Se ignoran los archivos descriptores para importar a eclipse
.classpath
.project
.settings/
.metadata/
Servers/
RemoteSystemsTempFiles/

#Se ignoran archivos log
logs/
spy.log
*.log
*.log.*

#Archivos de sistema se ignoran
.DS_Store

#se ingnoran carpetas bin 
bin/
.tern-project

